<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chronos</title>
    <link rel="stylesheet" href="../assets/styles/style.css">
  </head>

  <body>
    <div class="wrapper">
      <div class="numbers">
        <div class="number num-hour">

          <div class="digit digit1">
            <div class="line line-top line-horizontal"></div>

            <div class="line line-left-top line-vertical"></div>
            <div class="line line-right-top line-vertical"></div>

            <div class="line line-middle line-horizontal"></div>

            <div class="line line-left-bottom line-vertical"></div>
            <div class="line line-right-bottom line-vertical"></div>

            <div class="line line-bottom line-horizontal"></div>
          </div>
          <div class="digit digit2">
            <div class="line line-top line-horizontal"></div>

            <div class="line line-left-top line-vertical"></div>
            <div class="line line-right-top line-vertical"></div>

            <div class="line line-middle line-horizontal"></div>

            <div class="line line-left-bottom line-vertical"></div>
            <div class="line line-right-bottom line-vertical"></div>

            <div class="line line-bottom line-horizontal"></div>
          </div>

        </div>

        <span class="colon colon-minute">:</span>

        <div class="number num-minute">
          <div class="digit digit1">
            <div class="line line-top line-horizontal"></div>

            <div class="line line-left-top line-vertical"></div>
            <div class="line line-right-top line-vertical"></div>

            <div class="line line-middle line-horizontal"></div>

            <div class="line line-left-bottom line-vertical"></div>
            <div class="line line-right-bottom line-vertical"></div>

            <div class="line line-bottom line-horizontal"></div>
          </div>
          <div class="digit digit2">
            <div class="line line-top line-horizontal"></div>

            <div class="line line-left-top line-vertical"></div>
            <div class="line line-right-top line-vertical"></div>

            <div class="line line-middle line-horizontal"></div>

            <div class="line line-left-bottom line-vertical"></div>
            <div class="line line-right-bottom line-vertical"></div>

            <div class="line line-bottom line-horizontal"></div>
          </div>
        </div>

        <span class="colon colon-second">:</span>

        <div class="number num-second">
          <div class="digit digit1">
            <div class="line line-top line-horizontal"></div>

            <div class="line line-left-top line-vertical"></div>
            <div class="line line-right-top line-vertical"></div>

            <div class="line line-middle line-horizontal"></div>

            <div class="line line-left-bottom line-vertical"></div>
            <div class="line line-right-bottom line-vertical"></div>

            <div class="line line-bottom line-horizontal"></div>
          </div>
          <div class="digit digit2">
            <div class="line line-top line-horizontal"></div>

            <div class="line line-left-top line-vertical"></div>
            <div class="line line-right-top line-vertical"></div>

            <div class="line line-middle line-horizontal"></div>

            <div class="line line-left-bottom line-vertical"></div>
            <div class="line line-right-bottom line-vertical"></div>
            <div class="line line-bottom line-horizontal"></div>
          </div>
        </div>

        <div class="ampm-wrapper">
          <span class="ampm"></span>
        </div>
      </div>
      <!-- 
      <div class="clock-label">
      </div> -->

      <div class="footer-wrapper">
      </div>

    </div>

    <script src="../assets/scripts/script.js"></script>
  </body>

</html>